%header
  %h1 Accounts

%table
  %tr
    %th Username
    %th
    %th
    %th

  - @accounts.each do |account|
    %tr
      %td= account.username
      %td= link_to 'Show', visualize_path(account.username)
      %td= link_to 'Delete', edit_account_path(account)
      -#%td= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Account', new_account_path
